<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>active</key>
		<true/>
		<key>location</key>
		<string>~/.skk-jisyo</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>active</key>
		<true/>
		<key>location</key>
		<string>SKK-JISYO.L</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>active</key>
		<false/>
		<key>location</key>
		<string>SKK-JISYO.jinmei</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>active</key>
		<false/>
		<key>location</key>
		<string>SKK-JISYO.fullname</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>active</key>
		<false/>
		<key>location</key>
		<string>SKK-JISYO.geo</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>active</key>
		<false/>
		<key>location</key>
		<string>SKK-JISYO.propernoun</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>active</key>
		<false/>
		<key>location</key>
		<string>SKK-JISYO.station</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>active</key>
		<false/>
		<key>location</key>
		<string>SKK-JISYO.law</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>active</key>
		<false/>
		<key>location</key>
		<string>SKK-JISYO.okinawa</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>active</key>
		<false/>
		<key>location</key>
		<string>SKK-JISYO.china_taiwan</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>active</key>
		<false/>
		<key>location</key>
		<string>SKK-JISYO.assoc</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>active</key>
		<false/>
		<key>location</key>
		<string>SKK-JISYO.edict</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>active</key>
		<false/>
		<key>location</key>
		<string>zipcode/SKK-JISYO.zipcode</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>active</key>
		<false/>
		<key>location</key>
		<string>zipcode/SKK-JISYO.office.zipcode</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>active</key>
		<false/>
		<key>location</key>
		<string>SKK-JISYO.JIS2</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>active</key>
		<false/>
		<key>location</key>
		<string>SKK-JISYO.JIS3_4</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>active</key>
		<false/>
		<key>location</key>
		<string>SKK-JISYO.JIS2004</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>active</key>
		<false/>
		<key>location</key>
		<string>SKK-JISYO.itaiji</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>active</key>
		<false/>
		<key>location</key>
		<string>SKK-JISYO.itaiji.JIS3_4</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>active</key>
		<false/>
		<key>location</key>
		<string>SKK-JISYO.mazegaki</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
