<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>Japanese</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.7.4</string>
	<key>CFBundleSignature</key>
	<string>askk</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.apple.inputmethod.Japanese</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>jp.sourceforge.inputmethod.aquaskk</string>
				<key>TISIntendedLanguage</key>
				<string>ja</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>AquaSKK-InputMethod.tif</string>
				<key>tsInputModeDefaultStateKey</key>
				<false/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeJISKeyboardShortcutKey</key>
				<integer>1</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>AquaSKK-InputMethod.tif</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>AquaSKK-InputMethod.tif</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smJapanese</string>
			</dict>
			<key>com.apple.inputmethod.Japanese.FullWidthRoman</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>jp.sourceforge.inputmethod.aquaskk.FullWidthRoman</string>
				<key>TISIntendedLanguage</key>
				<string>ja</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>Mini-Jisx0208Latin.tiff</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeJISKeyboardShortcutKey</key>
				<integer>0</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>Mini-Jisx0208Latin.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>Mini-Jisx0208Latin.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smJapanese</string>
			</dict>
			<key>com.apple.inputmethod.Japanese.HalfWidthKana</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>jp.sourceforge.inputmethod.aquaskk.HalfWidthKana</string>
				<key>TISIntendedLanguage</key>
				<string>ja</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>Mini-Jisx0201Kana.tiff</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeJISKeyboardShortcutKey</key>
				<integer>0</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>Mini-Jisx0201Kana.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>Mini-Jisx0201Kana.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smJapanese</string>
			</dict>
			<key>com.apple.inputmethod.Japanese.Hiragana</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>jp.sourceforge.inputmethod.aquaskk.Hiragana</string>
				<key>TISIntendedLanguage</key>
				<string>ja</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>Mini-Hirakana.tiff</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeJISKeyboardShortcutKey</key>
				<integer>1</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>Mini-Hirakana.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>Mini-Hirakana.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smJapanese</string>
			</dict>
			<key>com.apple.inputmethod.Japanese.Katakana</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>jp.sourceforge.inputmethod.aquaskk.Katakana</string>
				<key>TISIntendedLanguage</key>
				<string>ja</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>Mini-Katakana.tiff</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeJISKeyboardShortcutKey</key>
				<integer>2</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>Mini-Katakana.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>Mini-Katakana.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smJapanese</string>
			</dict>
			<key>com.apple.inputmethod.Roman</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>jp.sourceforge.inputmethod.aquaskk.Ascii</string>
				<key>TISIntendedLanguage</key>
				<string>en</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>Mini-Ascii.tiff</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeJISKeyboardShortcutKey</key>
				<integer>3</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>Mini-Ascii.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>Mini-Ascii.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smRoman</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>com.apple.inputmethod.Japanese</string>
			<string>com.apple.inputmethod.Japanese.Hiragana</string>
			<string>com.apple.inputmethod.Japanese.Katakana</string>
			<string>com.apple.inputmethod.Japanese.HalfWidthKana</string>
			<string>com.apple.inputmethod.Japanese.FullWidthRoman</string>
			<string>com.apple.inputmethod.Roman</string>
		</array>
	</dict>
	<key>InputMethodConnectionName</key>
	<string>AquaSKKSession</string>
	<key>InputMethodServerControllerClass</key>
	<string>SKKInputController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>SKKInputController</string>
	<key>LSBackgroundOnly</key>
	<string>1</string>
	<key>NSMainNibFile</key>
	<string>AquaSKK</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>TISIntendedLanguage</key>
	<string>ja</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hira</string>
		<string>Kana</string>
		<string>Latn</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>AquaSKK-InputMethod.tif</string>
</dict>
</plist>
